.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid #444;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar .name {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-right: 16px;
}

body,
td,
th,
tr,
p {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a,
a:visited,
a:hover,
a:active {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333399
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #333399
}

strong {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 15px;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 24px;
}

ul {
  padding-left: 15px;
}

li {
  margin-top: 5px;
  margin-bottom: 10px;
}

.papertitle {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* margin-bottom: 5px; */
  color: black
}

.author {
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Roboto', Verdana, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.one {
  width: 200px;
  height: 200px;
  position: relative;
  /* display: flex; */
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  /* display: flex; */
  /* object-fit: contain; */
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content, #main-image {
  cursor: zoom-out;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}