@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Georgia, serif;
}

/* Elements marked with serif class or font-serif will use Source Serif */
.font-serif,
.serif {
  font-family: var(--font-inter), ui-serif, var(--font-pt-serif), var(--font-noto-serif), Georgia,
    serif;
}

/* Elements marked with sans or font-sans will use Geist */
.font-sans,
.sans {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.font-noto-serif,
.sans {
  font-family: var(--font-noto-serif), system-ui, sans-serif;
}
